<?xml version="1.0" encoding="UTF-8"?>
<plugin id="AutomatonPlugin" name="Automaton" version="2026x" provider-name="No Magic" class="com.nomagic.magicdraw.automaton.AutomatonPlugin">
  <requires>
    <api version="1.0"/>
  </requires>
  <runtime>
    <library name="automaton-2026.0.0-72-9045f813.jar"/>
    <library name="lib/jython-standalone-2.7.4.jar"/>
    <library name="lib/rhino-1.7.13.jar"/>
    <library name="lib/rhino-js-engine-1.7.13.jar"/>
    <library name="lib/rhino-js-wrapper-1.7.13-20230627.jar"/>
    <library name="lib/bsh-2.1.7.jar"/>
    <library name="lib/com.dassault_systemes.automaton-2026.0.0-72-9045f813.jar"/>
    <!-- Groovy 5.0.3 Libraries -->
    <library name="[PATH_TO_GROOVY]/lib/ant-1.10.15.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/ant-antlr-1.10.15.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/ant-junit-1.10.15.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/ant-launcher-1.10.15.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/commons-cli-1.11.0.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/gpars-1.2.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-ant-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-astbuilder-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-cli-commons-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-cli-picocli-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-console-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-contracts-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-datetime-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-dateutil-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-docgenerator-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-ginq-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-groovydoc-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-groovysh-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-jmx-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-json-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-jsr223-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-macro-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-macro-library-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-nio-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-servlet-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-sql-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-swing-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-templates-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-test-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-test-junit5-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-testng-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-toml-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-typecheckers-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-xml-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/groovy-yaml-5.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/hamcrest-core-1.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/ivy-2.5.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jackson-annotations-2.20.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jackson-core-2.20.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jackson-databind-2.20.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jackson-dataformat-toml-2.20.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jackson-dataformat-yaml-2.20.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jansi-3.30.6.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/javaparser-core-3.27.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jcommander-1.83.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jline-builtins-3.30.6.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jline-console-3.30.6.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jline-native-3.30.6.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jline-reader-3.30.6.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jline-style-3.30.6.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jline-terminal-3.30.6.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jline-terminal-jansi-3.30.6.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jline-terminal-jna-3.30.6.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jline-terminal-jni-3.30.6.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jna-5.18.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jquery-3.7.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/jsr166y-1.7.0.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/junit-4.13.2.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/junit-jupiter-api-5.14.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/junit-jupiter-engine-5.14.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/junit-platform-commons-1.14.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/junit-platform-engine-1.14.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/junit-platform-launcher-1.14.1.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/multiverse-core-0.7.0.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/mxparser-1.2.2.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/opentest4j-1.3.0.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/org.abego.treelayout.core-1.0.3.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/qdox-2.2.0.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/slf4j-api-2.0.17.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/snakeyaml-2.4.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/testng-7.11.0.jar"/>
    <library name="[PATH_TO_GROOVY]/lib/xstream-1.4.21.jar"/>
  </runtime>
</plugin>